@using FinalCodex.SharedLibrary.Services
@using MudBlazor
@inject CodexService CodexService;

<div>
    <MudDrawer @bind-Open="CodexService.AppState.IsNavMenuOpen"
               Variant="DrawerVariant.Mini"
               ClipMode="DrawerClipMode.Always">
        <MudDrawerHeader>
            @* TODO: Add mini logo here *@
            <MudIcon Icon="@Icons.Material.TwoTone.BrokenImage"></MudIcon>
        </MudDrawerHeader>

        <MudNavMenu>
            <MudNavLink Href="/"
                        Icon="@Icons.Material.TwoTone.House"
                        Match="NavLinkMatch.All">
                Home
            </MudNavLink>

            <MudNavLink Href="/search"
                        Icon="@Icons.Material.TwoTone.Search">
                SearchState
            </MudNavLink>
        </MudNavMenu>
    </MudDrawer>
</div>