@using FinalCodex.Shared
@using MudBlazor
@inject AppState AppState

<div class="@IconColor">
    <MudToggleIconButton @bind-Toggled="AppState.IsDarkMode"
                         Icon="@Icons.Material.TwoTone.LightMode"
                         ToggledIcon="@Icons.Material.TwoTone.DarkMode"
                         title="@(AppState.IsDarkMode ? "Dark" : "Light")" />
</div>
