.theme-mode-toggle ::deep .mud-icon-root.mud-svg-icon {
    height: 36px !important;
    width: 36px !important;
}

.theme-mode-toggle-light ::deep .mud-icon-root.mud-svg-icon {
    fill: rgb(255, 227, 1) !important;
}

.theme-mode-toggle-dark ::deep .mud-icon-root.mud-svg-icon {
    fill: aliceblue !important;
}