@using MudBlazor;
@using FinalCodex.Shared;
@inject AppState AppState

<div class="@IconColor">
    <MudToggleIconButton @bind-Toggled="AppState.IsDarkMode" Icon="@Icons.Material.Filled.LightMode" 
                         ToggledIcon="@Icons.Material.Filled.DarkMode"
                         title="@(AppState.IsDarkMode ? "Dark" : "Light")" />
</div>
