@page "/"
@using FinalCodex.SharedLibrary
@using FinalCodex.SharedLibrary.Services
@using MudBlazor
@inject CodexService CodexService;

<MudButton OnClick="@ToggleNavMenu">Test</MudButton>
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.